/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
	overflow-x: hidden;
	background-color: white;
	background-image: url("img/background-opacity.png");
	background-repeat: repeat;
	background-size: contain;
}
main {
	background-color: #FFF;
}
body {
	font:300 11px/1.4 'latomedium', Helvetica, Arial, sans-serif;
	color:#444;
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
}
input, select {
	outline: none;
	apperance: none;
	border: none;
	padding: 0; 
}
ul, li {
	padding: 0;
	margin: 0;
}

// Specific
.cta-discover {
	margin-top: 88px;

	a {
		width: 132px;
		height: 34px;
		padding: 11px 24px;
		text-transform: uppercase;
		font-family: 'latomedium';
		font-size: 13px;
		color: #ececec;
		letter-spacing: 1px;
		background-color: #373737;
		border: 1px solid #ececec;
		transition: all 0.2s;

		&:hover {
			color: #eece84;
			border: 1px solid #eece84;
		}
	}
}

.header-cards {
	margin-left: 108px;
    margin-top: 53px;
    margin-bottom: 62px;

    span {
    	vertical-align: middle;

    	h2 {
        font-family: 'latobold';
        text-transform: uppercase;
        font-size: 20px;
        color: #373737;
        letter-spacing: 3px;
        display: inline-block;
        vertical-align: middle;
	    }
	    .cta {
	        text-transform: uppercase;
	        font-family: 'latomedium';
	        display: inline-block;
	        letter-spacing: 2px;
	        font-size: 10px;
	        margin-left: 52px;

	        a {
	            background-color: #373737;
	            width: 79px;
	            color: #ececec; 
	            border-radius: 25px;
	            text-align: center;
	            border: 1px solid #ececec;
	            padding: 8px 14px 8px 14px;
	            transition: all 0.2s;

	            &:hover {
					color: #eece84;
					border: 1px solid #eece84;
				}
	        }
	    }
    }
}

.banner-bottom {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: black;
	background-size: cover;
	background-position: center center;

	.overlay {
		position: absolute;
		width: 1280px;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
	}
}

.swiper-slide .overlay {
	right: 0 !important;
}

.is-exiting {
	opacity: 0.5;
}